{% extends 'base.html' %}

{% block title%}
Наши контакты
{% endblock %}

{% block body%}
<div class="container">
    <h1>Наши контакты:</h1>
    <p>Задавайте вопросы по электронной почте: <a href="mailto:Isaevaa@tut.by">Isaevaa@tut.by</a></p>
    <p>Так же в социальных сетях:</p>
    <a class="app-aware-link" href="https://www.linkedin.com/feed/?doFeedRefresh=true&amp;nis=true" data-test-app-aware-link="">
    <div class="ivm-image-view-model    global-nav__branding-logo">
    <div class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex
        ">
        <li-icon type="app-linkedin-bug-color-icon" size="large" role="img" aria-label="LinkedIn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
  <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
</svg></li-icon>
        <a class="Header-link" href="https://github.com/" data-hotkey="g d" aria-label="Homepage " data-turbo="false" data-analytics-event="{&quot;category&quot;:&quot;Header&quot;,&quot;action&quot;:&quot;go to dashboard&quot;,&quot;label&quot;:&quot;icon:logo&quot;}">
  <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle">
    <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
</svg>
</a>
    </div>

          </div>

</a>
    <footer id="contacts" class="sec-7-footer">

                <!--            <div id="map"></div>-->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2351.156887330884!2d27.489118816016102!3d53.893415380097316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x51501d69b33545f3!2zNTPCsDUzJzM2LjMiTiAyN8KwMjknMjguNyJF!5e0!3m2!1sru!2sua!4v1645373492394!5m2!1sru!2sua" id="map" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </footer>
</div>

{% endblock %}

